# Database Configuration
ConnectionStrings__DefaultConnection=Server=localhost;Database=FitnessProject;User=root;Password=YOUR_PASSWORD_HERE;

# JWT Configuration
JwtSettings__SecretKey=YourVeryStrongSecretKeyHere
JwtSettings__Issuer=FitnessTrainingSystem
JwtSettings__Audience=FitnessTrainingSystemClient
JwtSettings__ExpiryMinutes=60

# Google Configuration
GoogleAuth__ClientId=916356717531-klok2ck49pggi156ockpp72f5s5mkf3i.apps.googleusercontent.com
