# Database Configuration
ConnectionStrings__DefaultConnection=Server=127.0.0.1;Port=3307;Database=FitnessProject;User=root;Password=Alex32@NAM;AllowPublicKeyRetrieval=True;CharSet=utf8mb4;

# JWT Configuration
JwtSettings__SecretKey=FitnessTrainingSystem_SuperSecretKey_2026_SWP391_SE20A02_Group06_AtLeast32Chars!
JwtSettings__Issuer=FitnessTrainingSystem
JwtSettings__Audience=FitnessTrainingSystemClient
JwtSettings__ExpiryMinutes=60

# Google Configuration
GoogleAuth__ClientId=916356717531-klok2ck49pggi156ockpp72f5s5mkf3i.apps.googleusercontent.com